$header-link-color: #939CAA;
$white: #FFFFFF;
$button-color: #FCB72B;
$toggle-navbar-color: #333A44;
$toggle-link-color: #E5ECF4;
$benefit-heading: #495567;
$faqs-item-bg: #F2F5F9;
$faqs-item-hover: #FFF4DF;

$space-mono: "Space Mono", "Arial", sans-serif;
$lexend-deca: "Lexend Deca", "Arial", sans-serif;

$tablet: 1150px;
$mobile: 729px;
